.s_d_product_count_down {
    .d_product_description {
        clear: both;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    .d_product_img {
        max-height: 340px;
    }
}

// snippets right block
.s_d_product_small_block {
    .swiper-wrapper {
        display: flex;
        .d-product-img {
            max-height: 215px;
            @include media-breakpoint-down(lg) {
                max-height: 365px;
            }
        }
    }
}
// TITLE
.s_d_full_title {
    position: relative;
    font-size: 1.71rem;
    text-transform: capitalize;
    margin: 0 0 1.2rem;
    font-weight: 300;
    letter-spacing: -1px;
    .s_d_title_text {
        position: relative;
        z-index: 1;
        background: $body-bg;
        padding-right: 18px;
    }
    &:after {
        content: "";
        @include o-position-absolute($top: 50%, $right: 72px, $left: 0);
        height: 1px;
        background: #e4e7f0;
    }
}
